<div class="container">
  <header><img src="images/cover.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Login</h2>

    <div class="content">
      <form action="/login" method="post">
        <label for="name">Team name:</label>
        <input type="text" name="name" id="name">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <br>
        <br>
        <a href="/signup">Create a Team!</a>
        <input type="submit" name="submit" id="submit">
      </form>
    </div>
  </div>
</div>
