<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2><%=@team.name%>'s drivers</h2>

    <div class="content">
      <ul>
         <!-- add a link for each driver listing to view their driver page  -->
        <%@team.drivers.each do |driver|%>
        <li><%=driver.name%></li>
        <%end%>
      </ul>
      <br>
      <br>
      <a href="/drivers">View all Drivers</a>
    </div>


  </div>
</div>
