<div class="container">
  <header><img src="images/cover.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Create your Team Account!</h2>

    <div class="content">
      <form action="/signup" method="post">
        <p>Please enter your Teams name/username, email, and password.</p>
        <label for="name">Team Name (username)</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Email Address</label>
        <input type="text" name="email" id="email">
        <br>
        <label for="password_digest">Password</label>
        <input type="password" name="password_digest" id="password_digest">
        <br>
        <input type="submit" id="submit">
      </form>
    </div>


  </div>
</div>
