<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>All Drivers in the league</h2>

    <div class="content">
      <ul>
        <%@teams.each do |team|%>
        <li><h4><%=team.name%></h4></li>
        <h5><a href="/teams/<%=team.id%>">View Team</a></h5>
        <br>
        <%end%>
      </ul>
      <br>
      <a href="/logout">Logout</a>
      <a href="/drivers">View all Drivers</a>
    </div>


  </div>
</div>
