<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Create a driver for your Team</h2>

    <div class="content">
      <form action="/drivers" method="post">
        <label for="name">Driver Name</label>
        <input type="text" name="name">
        <br>
        <br>
        <label for="name">Driver Number</label>
        <input type="text" name="number">
        <br>
        <br>
          <label for="Shifter">Driver Class: Shifter -></label>
          <input type="radio" name="driver_class" value="Shifter">
          <label for="Senior">Senior -></label>
          <input type="radio" name="driver_class" value="Senior">
          <label for="Junior">Junior -></label>
          <input type="radio" name="driver_class" value="Junior">
          <br>
        <br>
        <input type="submit" value="Create Driver">
      </form>
      <a href="/drivers">View all Drivers</a>
    </div>
  </div>
</div>
