<div class="container">
  <header><img src="images/cover.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>PAGE NAME</h2>

    <div class="content">
      <p></p>
    </div>


  </div>
</div>
